body {
    background-color: hsl(0, 0%, 96%);
}
.column {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Gaya untuk gambar dalam kolom */
  .image.is-9by10 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Membuat gambar terpusat */
  }
  
  /* Gaya untuk teks dalam kolom */
  .is-size-4 {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  /* Gaya untuk tombol */
  .button {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 1rem;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  
  /* Gaya untuk rata kiri (justify) semua teks di dalam .content kecuali judul */
  .content {
    text-align: justify;
  }
  
  /* Gaya untuk membuat judul (class article-title) menjadi tengah (center) */
  .title.article-title {
    text-align: center;
  }